.main-content {
  margin-left: 80px;
  padding: 20px;
  background-color: #eee;
  min-height: 100vh;
  height: 100%;
  width: calc(100% - 80px);
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.card-header {
  background-color: #354357 !important;
  color: white !important;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}
